body 
{
    font-family: 'Maven Pro', sans-serif;
    background: #e9eaed;
}

#divWrapper 
{
    background: #e9eaed;
}

#divHeader
{
    background: #EFEDAB;
}

#divLinks
{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #f58812;
}

#divNav
{
    background: #f58812;
}
    
#divNav ul
{
    list-style-type: none;
}

#divNav ul li a, #divNav ul li form input
{
    text-transform: uppercase;
    background-color: #000;
    font-size: 0.8em;
    font-weight: bold;
    color: #FFF;
    
    border: 1px solid #000;
    
    background: -moz-linear-gradient(top, #666, #333);
    background: -webkit-gradient(linear, left top , left bottom, from(#666), to(#333));
}

#divNav ul li a:hover, #divNav ul li input:hover
{
    background: #333;
    background: -moz-linear-gradient(top, #CCC, #666);
    background: -webkit-gradient(linear, left top , left bottom, from(#000), to(#666));
}

#divNav ul li a.current, #divNav ul li a.current:hover,
#divNav ul li input.current, #divNav ul li input.current:hover {
    background: #333;
    background: -moz-linear-gradient(top, #000, #666);
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#666));
    color: #f63;
}

.divContentHeader 
{
    background: #f58812;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

.divContent
{
    background: #FFF;
    border: 1px solid #f58812;
    border-radius: 0 0 10px 10px;
}

.divContent p
{
    color: #999;
}

.divContent h5,.divContent  h3,.divContent  h1
{
    color: #f58812;
    text-transform: uppercase;
}

#divFooter
{
    background: #f58812;
    border-top: 1px solid #000;
}

.tabs {
    border: 1px solid #f58812;
    background: #ededed;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

table 
{
    color: #f58812;
}

#divNav ul li a, #divNav ul li form input
{
    text-align: center;
}

#SideMenu {
    background: #32394a;
}

#SideMenu li a, #SideMenu ul form input {
    color: #fff;
    font-weight: bold;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, .08);
    border-bottom: 1px solid #242a37;
    background: -webkit-gradient(linear, center top, center bottom, from(#3e485e), to(#323a4d));
    background: -webkit-linear-gradient(#3e485e, #323a4d)
}

#SideMenu ul form input {
    font: inherit;
    font-weight: bold;
    white-space: inherit;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, .08);
    border-bottom: 1px solid #242a37;
}

#SideMenu li a.current {
    background: #262c3a;
}

._356 {
    background: #434b5c;
    background-image: -webkit-gradient(linear, center top, center bottom, from(#434b5c), to(#394152));
    background-image: -webkit-linear-gradient(#434b5c, #394152);
    background-repeat: no-repeat;
    color: #7a8292;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
}

#SideMenu .Padding {
    background-image: -webkit-linear-gradient(#434b5b, #242b39);
}

#MenuButton 
{
    background: url("../Images/Button.png");
    background-size: 25px 25px;
}