.divContent
{
    height:	600px !important;
    width: 600px !important;
}
#map_canvas {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px; 
    border: solid;
    border-radius: 6px;
}