body, h1, h2, h3, h4, h5, h6, div, ul, li
{
    margin: 0;
    padding: 0;
}

#divHeader
{
    text-align: center;
}

#divHeader img
{
    padding-top: 20px;
    padding-bottom: 20px;
}

#divLine
{
    height: 1px;
}

#divNav
{
    max-width: 384px;
    height: 36px;
    margin: 0 auto;
}
    
#divNav ul
{
    list-style-type: none;
}

#divNav ul li
{
    float: left;
}

#divNav ul li a
{
    display: block;
    height: 20px;
    line-height: 20px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 7px;
}

#divNav ul li a.current, #divNav ul li a.current:hover {
    cursor: default;
}

.contentImg
{
    float: left;
    padding: 10px;
}

.divContentHeader 
{
    width:450px;
    height: 30px;
    margin: 30px auto 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.divContent
{
    width:450px;
    padding-bottom: 10px;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.divContent h3
{
    margin-top: 10px;
    margin-left: 10px;
}

.divContent p {
    font-size: 0.7em;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.4em;
}

#divFooter
{
    height: 25px;
}

#divMargin
{
    margin-top:20px;
    margin-bottom:20px;
}