body, h1, h2, h3, h4, h5, h6, div, ul, li
{
    margin: 0;
    padding: 0;
}

body, html
{
    min-height: 100%;
    overflow-x: hidden;
}

#divHeader
{
    text-align: center;
}

#divLinks
{
    height: 36px;
}

#divNav
{
    height: 36px;
    margin: 0 auto;
    display: table;
}
    
#divNav ul
{
    list-style-type: none;
}

#divNav ul li
{
    float: left;
}

#divNav ul li form
{
    margin-bottom: 0;
}

#divNav ul li form input {
    height: 22px;
}

#divNav ul li a, #divNav ul li form input
{
    padding: 0;
    display: block;
    line-height: 20px;
    width: 100px;
    text-decoration: none;
    margin: 7px;
}

#divNav ul li a:hover, #divNav ul li input:hover,
#SideMenu ul li a:hover, #SideMenu ul li input:hover {
    cursor: pointer;
}

.contentImg
{
    float: left;
    padding: 10px;
}

.divContentHeader 
{
    width: 450px;
    height: 30px;
    margin: 30px auto 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.divContent
{
    width: 450px;
    padding-bottom: 10px;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.divContent h3
{
    margin-top: 10px;
    margin-left: 10px;
}

.divContent p {
    font-size: 0.7em;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.4em;
}

#divFooter
{
    position: relative;
    height: 25px;
}

#divMargin
{
    margin-top:20px;
    margin-bottom:20px;
}

#divWrapper
{
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -26px;
}

#divContentWrapper 
{
    padding-bottom: 60px;    
}

#SideMenu {
    z-index: 1;
    left: -256px;
    float:left; 
    height: 100%;
    width: 256px;
    position: fixed;
    top: 0;
}

#SideMenu ul
{
    display: block;
    list-style-type: none;
}

#SideMenu li a, #SideMenu ul form input {
    width: 236px;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#SideMenu ul form
{
    margin-bottom: 0;
}

#SideMenu ul form input {
    width: 256px;
    margin: 0;
}

._356 {
    padding-top: 2px;
    line-height: 17px;
    padding-left: 10px;
}

#SideMenu .Padding {
    height: 38px;
}

@media screen and (max-width: 500px) {
    #divNav {
        visibility: hidden;
    }
    #divHeader img
    {
        height: 0 !important;
    }
}

@media screen and (min-width: 501px) {
    #SideMenu, #MenuButton {
        visibility: hidden;
    }
    #divWrapper {
        left: 0 !important;
    }
}

#MenuButton 
{
    margin: 5px;
    height: 25px; 
    width: 25px;
    float: left;
}