.tabs h3 {
    width: 350px;
    margin: 10px 0 10px 5px ;
}

.tabs {
    width: 350px;
    margin: 50px auto ;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.tabs table 
{ 
    margin: 10px;
}