body, h1, h2, h3, h4, h5, h6, p, div, ul, li
{
    margin: 0;
    padding: 0;
}

body 
{
    font-family: Verdana, Geneva, sans-serif;
    background-color: #000;
}

#divHeader
{
    text-align: center;
}

#divHeader img
{
    padding-top: 20px;
    padding-bottom: 20px;
}

#divLine
{
    background: #999;
    height: 1px;
}

#divLinks
{
    background: #666;
}

#divNav
{
    max-width: 384px;
    background: #666;
    height: 36px;
    margin: 0 auto;
}
    
#divNav ul
{
    list-style-type: none;
}

#divNav ul li
{
    float: left;
}

#divNav ul li a
{
    display: block;
    height: 20px;
    line-height: 20px;
    background-color: #000;
    width: 80px;
    font-size: 0.8em;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    margin: 7px;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #000;
    
    background: -moz-linear-gradient(top, #666, #333);
    background: -webkit-gradient(linear, left top , left bottom, from(#666), to(#333));
}

#divNav ul li a:hover
{
    background: #333;
    background: -moz-linear-gradient(top, #CCC, #666);
    background: -webkit-gradient(linear, left top , left bottom, from(#000), to(#666));
}

#divNav ul li a.current, #divNav ul li a.current:hover {
    background: #333;
    background: -moz-linear-gradient(top, #000, #666);
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#666));
    color: #f63;
    cursor: default;
}

.contentImg
{
    float: left;	
    border: 1px solid #000;
    background-color: #333;
    padding: 16px;
    margin: 0.7em;
    
    background: -moz-linear-gradient(top, #000, #333);
    background: -webkit-gradient(linear, left top , left bottom, from(#000), to(#333));
    
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.divContent p
{
    font-size: 0.7em;
    color: #999;
    padding: 0.7em;
    line-height: 1.4em;
}

#divFooter
{
    background: #222;
    height: 10px;
    border-bottom: 1px solid #333;
}

.divContent h5, h3, h1
{
    color: #FFF;
    padding-top: 0.8em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.divContent
{
    width:450px;
    background: #333;
    padding-top: 30px;
    padding-bottom: 30px;

    margin: 30px auto 30px auto;
    background: #222;
    border: 1px solid #000;
    
    background: -moz-linear-gradient(top, #666, #333, #222);
    background: -webkit-gradient(linear, left top , left bottom, from(#666), to(#222), color-stop(0.5,#333));
    
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    
    box-shadow: 3px 3px 10px #000;
    -moz-box-shadow: 3px 3px 10px #000;
    -webkit-box-shadow: 3px 3px 10px #000;
}
#divMargin
{
	margin-top:20px;
	margin-bottom:20px;
}